body {
  margin: 0;
  background-color: var(--brown);
}

@import url('https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:wght@500;800&display=swap');

html {
  font-family: 'Barlow Semi Condensed', sans-serif;
  font-size: 16px;
}

:root {
  --beerGold: #FFCE45;
  --darkGold: #D4AC2B;
  --brown: #B05E27;
  --stout: #7E370C;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
