body {
  margin: 0;
  background-color: var(--stout);
}

@import url('https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:wght@500;800&display=swap');

html {
  font-family: 'Barlow Semi Condensed', sans-serif;
  font-size: 16px;
}

:root {
  --beerGold: #FFCE45;
  --darkGold: #D4AC2B;
  --brown: #B05E27;
  --stout: #7E370C;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

ul {
  text-align: center;
  list-style: none;
  margin: 0;
  padding: 0;
  cursor: pointer;
}

nav{
  background-color: var(--beerGold);
}



p {
  text-align: center;
}



li {
  border: solid;
  cursor: pointer;
  font-size: 1rem;
  border-color: black;
  color: black;
  background-image: -webkit-linear-gradient(45deg, #f1380f 50%, transparent 50%);
  background-image: linear-gradient(45deg, #f1380f 50%, transparent 50%);
  background-position: 100%;
  background-size: 400%;
  -webkit-transition: background .5s ease-in-out;
  transition: background .5s ease-in-out;
  text-decoration: none;
}
li:hover {
  color: white;
  background-position: 0;
  transition: .5s ease-in-out;
}

.card {
  background-color: var(--darkGold);
}

.search {
  background-color: var(--brown);
}


